@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
body{
	font-family: 'Sarabun', sans-serif;
	font-style: normal;
	background: #FAFAFA;
	min-height: 100vh;
}

.bg-st-1{
	background-image: url(../images/bg.png);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


.fw-500{
	font-weight: 500;
}

.box-st1{
	background: linear-gradient(180deg, #151F42 0%, #1F4075 49.79%, #1D2C57 100%);
	opacity: 0.95;
	min-height: 100vh;
	position: absolute;
	right: 0;
	width: 44%;
	width: 644px;
}



.box-st2{
	background: linear-gradient(180deg, rgba(21, 31, 66, 0.95) 0%, rgba(31, 64, 117, 0.95) 49.79%, rgba(29, 44, 87, 0.95) 100%);
/*	opacity: 0.95;*/
	min-height: 100vh;

	width: 100%;
	padding-top: 54px;
}
.logo{
	width: 75%;
}

.card-st-1{
	width: 60%;
	margin: 0 auto;

}
.form-st-1{
	background: #FFFFFF;
	border-radius: 6px;

	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	padding: 10px 16px;
}

.form-st-1::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 0.5);
}

.form-st-1:-ms-input-placeholder {
  color: rgba(128, 128, 128,  0.5);
}

.form-st-1::placeholder {
  color: rgba(128, 128, 128,  0.5);
}
.btn-st-1{
	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.3px;
	color: #FFFFFF;
	padding: 8.5px 40px;
	background: #FC8004;
	border-radius: 50px;
	min-width: 150px;
}
.btn-st-1:disabled{
	background: #999999;
	opacity: 1;
}
.form-switch{
	padding-left: 2.8em
}
.form-switch .form-check-input{
	width: 40px;
    height: 20px;
    margin-bottom: 1px;
    background-size: 20px 20px;
}

.form-switch .form-check-input:checked {
    
    background-color: #f07b06;
    border-color: #f07b06;
}
.form-check-input.is-valid, .was-validated .form-check-input:valid {
    border-color:#fff;
}

.form-check-input.is-valid, .was-validated .form-check-input:checked:valid {
    border-color:#f07b06;
}
.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
    background-color: #f07b06;
}
.btn-change-type-password{
	position: absolute;
	right: 0;
	height: 42px;
	width: 42px;
	top: 0;


}
.btn-change-type-password:focus{
	outline: 0;
	box-shadow: unset;
}
input + .btn-change-type-password {
	background-image: url("../images/icon/eye.png");
  	background-repeat: no-repeat;
  	background-size: 1rem 1rem;
  	background-position: center center;
/*  	position: relative;*/
}
input + .btn-change-type-password.c2 {
	background-image: url("../images/icon/eye2.png");
  	background-repeat: no-repeat;
  	background-size: 1rem 1rem;
  	background-position: center center;
/*  	position: relative;*/
}
input[type="text"] + .btn-change-type-password:after{

	content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    transform: rotate(30deg);
    border-top: 2px solid #4D4D4D;
    margin-left: -16px;
    margin-top: -2px

}

input[type="text"] + .btn-change-type-password.c2:after{

	content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    transform: rotate(30deg);
    border-top: 2px solid #FC8004;
    margin-left: -16px;
    margin-top: -2px

}
.form-check-input {

    border: 2px solid #AABBC6;
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #FC8004;
}

.form-check-input:checked[type=radio] {
	background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2'  fill='%23FC8004' /></svg>")  repeat-x;
}

.form-check-input.is-valid:checked, .was-validated .form-check-input:valid:checked {
    background-color: transparent;
}

.input-otp{
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0752);
	border-radius: 8px;
	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.3px;
	color: #000000;
	width: 50px;
	height: 70px;
	margin-left: 10px;
	margin-right: 10px;
}

.input-otp-2{
	background: #FFFFFF;
	border: 1px solid #E5E5E5;
	box-sizing: border-box;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0752);
	border-radius: 8px;
	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.3px;
	color: #FC8004;
	width: 42px;
	height: 47px;
	margin-left: 9px;
	margin-right: 9px;
}

.steps{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.steps li{
	text-align: center;
	position: relative;
	width: 33.33%;

}
.steps .step-icon{
	background: #FFFFFF;
	border: 1px solid #B9B9C4;
	box-sizing: border-box;
	width: 57px;
	height: 57px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.steps  .step-1 .step-icon {
	background-image: url("../images/icon/Compose-w.png");
  	background-repeat: no-repeat;
  	background-size: 24px 24px;
  	background-position: center center;
}
.steps  .step-1.active .step-icon {
	background-color: #FC8004;
	border: 1px solid #FC8004;
}

.steps  .step-2 .step-icon {
	background-image: url("../images/icon/Checklist.png");
  	background-repeat: no-repeat;
  	background-size: 24px 24px;
  	background-position: center center;
}
.steps  .step-2.active .step-icon {
	background-color: #FC8004;
	border: 1px solid #FC8004;
	background-image: url("../images/icon/Checklist-w.png");
  	background-repeat: no-repeat;
  	background-size: 24px 24px;
  	background-position: center center;
}

.steps  .step-3 .step-icon {
	background-image: url("../images/icon/Person.png");
  	background-repeat: no-repeat;
  	background-size: 24px 24px;
  	background-position: center center;
}
.steps  .step-3.active .step-icon {
	background-color: #FC8004;
	border: 1px solid #FC8004;
	background-image: url("../images/icon/Person-w.png");
  	background-repeat: no-repeat;
  	background-size: 24px 24px;
  	background-position: center center;
}
.steps  .step-name{
	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #8A8A8A;
	margin-top: 8px;
}
.steps  .active .step-name{
	color: #FC8004;
}

.steps li:before{
	content: "";
	height: 1px;
	width: 62%;
	background-color: #B9B9C4;
	position: absolute;
	margin-top: 28px;
	left: 0;
	margin-left: -31%;
}

.steps li.active:before{
	background-color: #FC8004;
}
.steps li:first-child:before{
	content: unset;
}

.form-select{
	 -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background:url(../images/icon/chevron-down.png) !important;
    background-size: 24px auto !important;
    background-position: right 10px center !important;
    background-repeat: no-repeat !important;
}

.select2-container .select2-selection--single {
    height: auto;
    border: 1px solid #ced4da;
    border-radius: 4px;
}



.select2-container .select2-selection--single .select2-selection__rendered{
	background: #FFFFFF;
	border-radius: 6px;

	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	padding: 10px 16px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
	display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	background:url(../images/icon/chevron-down.png) !important;
    background-size: 24px auto !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 24px;
    position: absolute;
    top: 8px;
    right: 7px;
    width: 24px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: rgba(128, 128, 128, 0.5);
}
.select2-container{
	width: 100% !important;
}

.btn-st-2{
	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.3px;
	color: #FFFFFF;
	padding: 8.5px 40px;
	background: #FC8004;
	border-radius: 6px;
	min-width: 168px;
}
.btn-st-2:disabled{
	background: #E5E5E5;
	opacity: 1;
}
.btn-st-3{
	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.3px;
	color: #FFFFFF;
	padding: 8.5px 40px;
	background: #999999;
	border-radius: 6px;
	min-width: 168px;
}
.btn-st-4{
	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.3px;
	color: #FC8004;
	padding: 8.5px 40px;
	background: #FFFFFF;
	border: 1px solid #FC8004;
	border-radius: 6px;
	min-width: 168px;
}
.text-danger{
	color: #FF0000 !important;
}
.input-otp-2.is-invalid{
	 border-color: #dc3545;
}
.dropify-wrapper{
	border: 2px dashed #33ADEF;
	box-sizing: border-box;
	border-radius: 4px;
}

.btn-upload-dropify{
	font-family: 'Sarabun';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 32px;
	text-align: center;
	color: rgba(0, 57, 92, 0.8);
	background: rgba(0, 66, 105, 0.07);
	border-radius: 4px;
}

.main-sidebar-header {
	height: 120px;
}

.app-sidebar{
	background: #42424C;
}
.app-sidebar .main-logo{
	width: 100%;
}
.side-menu .side-menu__icon {
    width: 24px;
    height: 24px;
}
.slide {
    margin: 0 0 30px 0;
}
.side-menu .slide .side-menu__item{
	text-decoration: none;
}
.sidenav-toggled .slide .side-menu__label{
	color: #FFF;
}
.navbar-st-1{
	left: 240px;
	z-index: 99;
	background: #FFFFFF;
}

.app.sidenav-toggled .navbar-st-1{
	left: 80px;
}

.main-content{
	padding-top: 90px;
}
.Avatar{
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
}

.dropdown-toggle-1{
	background:url(../images/icon/chevron-down.png) !important;
    background-size: 24px auto !important;
    background-position: right 10px center !important;
    background-repeat: no-repeat !important;
}
.close-toggle{
	background:url(../images/icon/bi_x.png) !important;
    background-size: 24px auto !important;
    background-position: right 10px center !important;
    background-repeat: no-repeat !important;
    padding-top: 40px;
}
.open-toggle{
	background:url(../images/icon/arrow-left-square.svg) !important;
    background-size: 24px auto !important;
    background-position: right 10px center !important;
    background-repeat: no-repeat !important;
    padding-top: 40px;
    display: block;
}

.card-st-3{
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(174, 174, 174, 0.08);
	border-radius: 15px;
}


#progress .node {
    background: #FFFFFF;
    border: 2px solid #DADADA;
    box-sizing: border-box;
    width: 21px;
    height: 21px;
    border-radius: 50%;
}

#progress .activated {
    border: 2px solid #3FA5FF;
}
#progress .node.activated + p{
    color: #3FA5FF;
}
#progress .divider {
    height: 40px;
    width: 2px;
    margin-left: 8px;
    transition: all 800ms ease;
}
#progress .divider.activated {
   border: 2px solid #3FA5FF;
}
#progress li p {
    display:inline-block;
    margin-left: 15px;
    margin-bottom: 0;
    padding-top: 10px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1px;
    color: #ACACAC;
    font-weight: 600;
}

#progress li {
    list-style: none;
    line-height: 1px;
    display: flex;
}


#progress .blue { background-color: rgba(82, 165, 255, 1); }
#progress .green{ background-color: rgba(92, 184, 92, 1) }
#progress .red { background-color: rgba(255, 148, 148, 1); }
#progress .grey { background-color: #DADADA }


.dropdown-notification .dropdown-menu{
	width: 300px;
	margin-top: 7px;
	margin-left: -40px;
	overflow: hidden;
}

.chat-scroll, .Notification-scroll {
    max-height: 291px;
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #e3e8f7 !important;
}
.main-header-message .dropdown-footer, .main-header-notification .dropdown-footer {
    border-top: 1px solid #dce1ef;
    padding: 10px;
    background: #f6f6fb;
    box-shadow: -8px 12px 18px 0 rgb(25 42 70 / 10%);
}
.menu-header-content {
    background-color: #0162e8 !important;
}
.pulse-w {
    display: block;
    position: absolute;
    top: 7px;
    right: 8px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #FC8004;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(34 192 60 / 90%);
    animation: pulse-w 2s infinite;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


@-webkit-keyframes pulse-w {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 128, 4, 0.9);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(252, 128, 4, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 128, 4, 0);
  }
}

.fs-12{
	font-size: 14px;
	line-height: 16px;
}
.fs-14{
	font-size: 14px;
	line-height: 20px;
}
.fs-15{
	font-size: 15px;
	line-height: 20px;
}
.fs-16{
	font-size: 16px;
	line-height: 20px;
}
.fs-18{
	font-size: 18px;
	line-height: 23px;
}
.fs-24{
	font-size: 24px;
	line-height: 28px;
}
.fs-32{
	font-size: 32px;
	line-height: 42px;
}
.spacing-1{
	letter-spacing: 0.3px;
}
.text-color-1{
	color: #FC8004 !important;
}
.text-color-2{
	color: #007AFF;
}
.text-color-3{
	color: #0074DA;
}
.text-color-4{
	color: #494949;
}
.text-color-5{
	color: #33ADEF;
}
.text-color-6{
	color: #343C44;
}
.text-color-7{
	color: #242F48;
}
.text-color-8{
	color: #000;
}
.text-color-9{
	color: #999999;
}
.fw-500{
	font-weight: 500;
}
.hr-1{
	background: rgba(229, 229, 229, 0.5);
	opacity: 0.8;
}
.btn:focus{
	outline: none;
	box-shadow: unset;
}

.form-control.is-invalid, .was-validated .form-control:invalid,.form-control.is-valid, .was-validated .form-control:valid{
	background-image: unset;
}

.form-control.is-invalid, .was-validated .form-control:invalid +  .select2-container .select2-selection--single{
	border-color: #dc3545 !important;
}
.card-st-2{
	width: 100%;
	max-width: 840px;
	margin:0 auto;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(174, 174, 174, 0.08);
	border-radius: 15px;
	opacity: 1;
}
@media (max-width: 1199.98px) { ... }

@media (max-width: 991.98px) {
	.box-st1{
		width: 60%;
	}

	.card-st-1{
		width: 80%;
		margin: 0 auto;
	}
	.card-st-2{
		width: 90%;
		margin: 0 auto;
	}
}
@media (max-width: 767.98px) { 

	.box-st1{
		width: 100%;
	}

	.card-st-1{
		width: 80%;
		margin: 0 auto;
	}

	.card-st-2{
		width: 95%;
		margin: 0 auto;
	}
	.fs-m-12{
		font-size: 14px;
		line-height: 16px;
	}
	.fs-m-14{
		font-size: 14px;
		line-height: 20px;
	}
	.fs-m-15{
		font-size: 15px;
		line-height: 20px;
	}
	.fs-m-16{
		font-size: 16px;
		line-height: 20px;
	}
	.fs-m-18{
		font-size: 18px;
		line-height: 23px;
	}

	.fs-m-24{
		font-size: 24px;
		line-height: 28px;
	}
}
@media (max-width: 575.98px) {


	.input-otp{
		width: 40px;
		height: 60px;
		margin-left: 5px;
		margin-right: 5px;
	}


	.input-otp-2{
		width: 40px;
		height: 47px;
		margin-left: 5px;
		margin-right: 5px;
	}

	.steps li:before {
	    content: "";
	    height: 1px;
	    width: 36%;
	    background-color: #B9B9C4;
	    position: absolute;
	    margin-top: 28px;
	    left: 0;
	    margin-left: -17%;
	}


	.steps .step-name {
	    font-family: 'Sarabun';
	    font-style: normal;
	    font-weight: 400;
	    font-size: 12px;
	    line-height: 14px;
	    color: #8A8A8A;
	    margin-top: 8px;
	}

	.image-r2{
		width: 280px;
	}
}
